{{!-- THIS SHOWS ONLY THE POSTS --}}
<div class="post-banner">
    <h1>Todays Posts are: </h1>
    <div class="all-posts">
        {{#each posts}}
        {{> post this}}
        {{/each}}   
    </div>    

   <a href="/dashboard/create">Create Post</a>
</div>

