<link rel="stylesheet" href="../public/css/create.css">
<div class="create-post" >
    <form name="new-post" id="new-post" method="POST" action="/dashboard/create">
        <div class="post-title">
            <input type="text" name="title" id="title">What should be the name of the new post?</input>
        </div>
        <div class="post-body">
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
        <button type="submit" id="submit">Create Post</button>
        </div>
    </form>
</div>